.naver { background-color: green; }
.kakao { background-color: yellow; }
.google { background-color: gray; }
.google { text-decoration-color: #7f7e7e;}
.facebook { background-color: #49aaee; }
.facebook { text-decoration-color: #0095f6;}