section { display: flex; flex-direction: column; align-items: center; }
#flexContainer {
    align-items: center; display: flex;
    justify-content: center; margin-bottom: 15px; width: 100%;
}
.modal-follow { height: 100%; width: 100%; position: fixed; left: 0; top: 0; z-index: 100; background-color: rgba(0, 0, 0, 0.87); }
.modal-follow > div { height: 100%; width: 100%; display: flex; justify-content: center; align-items: center; }
.modal-follow .container { position: relative; height: 400px; width: 400px; background-color: white; border-radius: 5px; }
.modal-follow .container > div.top { height: 35px; }
.modal-follow .container #title { text-align: center; padding-top: 5px; padding-bottom: 5px; }
.modal-follow .container i { position: absolute; right: 5px; top: 5px; font-size: 25px; color: gray; }
.modal-follow .container .followCont { overflow-y: auto; height: 365px; border-top: 1px solid #aaa8a8; }
.modal-follow .container .followCont .follow-item { display: flex; padding-left: 8px; padding-right: 8px; margin-bottom: 10px;}
.modal-follow .container .followCont .follow-item > div { flex-grow: 1; padding-left: 5px;}


.modal .swiper-container { height: 40vw; width: 90vw; }
.modal .swiper-slide { display: flex; justify-content: center; }

.modal .no-main-profile { font-size: 30px; }

.instaBtn { background: white; border-color: #7f7e7e; border-radius: 3px; color: #7f7e7e; }
.instaBtnEnable { background: #0095f6; border-color: #0095f6; color: white; }