<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.facebook.feed.FeedMapper">

    <insert id="insFeed" useGeneratedKeys="true" keyProperty="ifeed">
        INSERT INTO t_feed
        ( location, ctnt, iuser)
        VALUES
        ( #{location}, #{ctnt}, #{iuser})
    </insert>

    <insert id="insFeedImg">
        INSERT INTO t_feed_img
        (ifeed, img)
        VALUES
        (#{ifeed}, #{img})
    </insert>

    <select id="selFeedList" resultType="FeedDomain">
        SELECT A.ifeed, A.location, A.ctnt, A.iuser, A.regdt
             , B.ifeedimg, B.img
             , C.nm AS writer, C.mainProfile
        FROM t_feed A
        LEFT JOIN t_feed_img B
        ON A.ifeed = B.ifeed
        INNER JOIN t_user C
        ON A.iuser = C.iuser
        ORDER BY A.ifeed DESC
    </select>

    <resultMap id="FeedDomainMap" type="FeedDomain2">
        <result property="ifeed" column="ifeed"></result>
        <collection property="imgList" column="ifeed" select="selFeedImgList"></collection>
    </resultMap>

    <select id="selFeedList2" resultMap="FeedDomainMap">
        SELECT
        A.ifeed, A.location, A.ctnt, A.iuser, A.regdt
        , C.nm AS writer, C.mainProfile
        , IFNULL(E.cnt, 0) AS favCnt
        <if test="iuserForFav > 0">
            , CASE WHEN D.ifeed IS NULL THEN 0 ELSE 1 END AS isFav
        </if>
        FROM t_feed A
        INNER JOIN t_user C
        ON A.iuser = C.iuser
        <if test="iuserForMyFeed > 0">
            AND C.iuser = ${iuserForMyFeed}
        </if>
        LEFT JOIN (
        SELECT ifeed, COUNT(ifeed) AS cnt
        FROM t_feed_fav
        GROUP BY ifeed
        ) E
        ON A.ifeed = E.ifeed
        <if test="iuserForFav > 0">
            LEFT JOIN t_feed_fav D
            ON D.iuser = ${iuserForFav}
            AND A.ifeed = D.ifeed
        </if>
        ORDER BY A.ifeed DESC
        LIMIT #{startIdx}, #{limit}
    </select>

    <select id="selFeedImgList" resultType="FeedImgEntity">
        SELECT ifeedimg, ifeed, img
        FROM t_feed_img
        WHERE ifeed = #{ifeed}
    </select>

<!--    //////////////////////fav//////////////////////////////////////-->

    <insert id="insFeedFav">
        INSERT INTO t_feed_fav
        (ifeed, iuser)
        VALUES
        (#{ifeed}, #{iuser})
    </insert>
    <delete id="delFeedFav">
        DELETE FROM t_feed_fav
        WHERE ifeed = #{ifeed}
        AND iuser = #{iuser}
    </delete>

</mapper>
