<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="basicLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/login.css}">
    </th:block>

    <th:block layout:fragment="content">
        <div th:if="${param.needEmail != null and param.needEmail[0] == '1'}">이메일 인증을 해주세요.</div>
        <div th:if="${param.auth != null and param.auth[0] == '1'}">인증되었습니다.</div>
        <div th:if="${param.auth != null and param.auth[0] == '0'}">인증에 실패하였습니당.</div>
        <div th:if="${param.error}">로그인에 실패하였습니다!</div>
        <!--/*
        <div th:if = "${#request.getParameter('auth') == '1'}" th:text="authauth"></div>
        */-->
        <h1>Login</h1>
        <form th:action="@{login}" method="post" th:object="${userEntity}">
            <div><input type="text" th:field="*{email}" placeholder="email" autofocus required></div>
            <div><input type="password" th:field="*{pw}" placeholder="password" required></div>
            <div>
                <input type="submit" value="로그인">
            </div>
        </form>

        <div>
            <a th:href="@{join}">회원가입</a>
        </div>
        <div>
            <a class="test" th:href="@{/oauth2/authorization/naver}">네이버</a>
            <a th:href="@{/oauth2/authorization/kakao}">카카오</a>
            <a th:href="@{/oauth2/authorization/google}">구글</a>
            <a th:href="@{/oauth2/authorization/facebook}">페이스북</a>
        </div>
    </th:block>


</html>