*{
    box-sizing: border-box;
}
ul, ol, li {list-style: none;}

html, body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

header {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
    background-color: white;
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 4px -4px #dfe6e9;
}

/*header nav .header__left a.logo{*/
/*    background: url("?");*/
/*}*/

nav {
    display: flex;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__left {
    flex: 1 0 140px;
    display: flex;
    align-items: center;
}


.header__center {
    flex: 0 1 auto;
}

.header__right {
    flex: 1 0 140px;
    height: 100%;
}

.header__right .menus {
    margin: 0;
    padding: 0;
    display: flex;
    width: 300px;
    height: 100%;
    align-items: center;
}

.header__right .menus li {
    flex-grow: 1;
}

#container {
    margin-top: 80px;
    padding: 30px;
}
